<div id="chat-app" class="chat-app">

  <div class="chat-app_toggle toggle">
    <div class="icon send">
      <i class="fas fa-paper-plane"></i>
    </div>
    <div class="icon open">
      <i class="fas fa-comment"></i>
    </div>
  </div>

  <div class="chat-app_box">
    <div class="chat-app_header">

      <div class="close"></div>

      <div class="branding">
        <div class="avatar is-online">
          <img
            src="https://image.freepik.com/vecteurs-libre/icone-robot-conception-signe-bot-notion-symbole-chatbot-service-assistance-vocale-bot-support-ligne-bot-stock-illustration-vectorielle_100456-34.jpg"
            alt="">
        </div>

        <div class="content">
          <p class="title">ChatBot</p>
          <p class="subtitle">Ask me anything, I am here to help you.</p>
        </div>

      </div>

    </div>

    <div class="chat-app_content">
      <div class="messages" id="box_message">

        <!-- <div class="message reply">
            <p class="text">👋🤖 Hola, ¿en qué puedo ayudarte?</p>
          </div> -->


      </div>
    </div>

    <div class="chat-app_footer">
      <input id="chatInput" class="chat-input" type="text" placeholder="Type..." />
    </div>

  </div>
</div>

<div id="modal">
  <a href="#cerrar"></a>
    <div id="modalContent">
      <a href="#cerrar">X</a>
       <img src="assets/chatbotImagenes/recuperarcontraseña2.png" alt="" width="100%">
    </div>
</div>